@model LetsFly.Models.FlightViewModel
@{
    ViewBag.Title = "Flight_list";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //foreach (var item in Model.Flight)
    //{
    //    var longitude = item.Airport.AirportLong;
    //    var latitude = item.Airport.AirportLat;
    //}

}

<h2>Flight list</h2>

@Html.AntiForgeryToken()

@if (@ViewBag.Result != null)
{
    <div class="alert alert-info">@ViewBag.Result</div>
}
else
{
    <div id="map" style="height: 300px"></div>
    <style>
        .overlay {
            position: absolute;
            top: 1px;
            left: 1px;
        }

        .overlay button {
            font: 600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
            background-color: #3386c0;
            color: #fff;
            display: inline-block;
            margin: 0;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 3px;
        }

        .overlay button:hover {
            background-color: #4ea0da;
        }
    </style>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.0/turf.min.js' charset='utf-8'></script>

    <div id='map'></div>

    <div class='overlay'>
        <button id='replay'>Replay</button>
    </div>
    <br/>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].FlightNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].DepartureAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].ArrivalAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight[0].ArrivalDate)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        @foreach (var item in Model.Flight)
        {
            <tr class="coordinates">
                <td class="description">
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureAirport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalAirport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration) Mins
                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalDate)
                </td>
                @*<td >
            @Html.DisplayFor(modelItem => item.Airport.AirportLong)

            <input type="hidden" id="longitude" value=@item.Airport.AirportLong>

        </td>
        <td >
            @Html.DisplayFor(modelItem => item.Airport.AirportLat)
            <input type="hidden" id="latitude" value=@item.Airport.AirportLat>
        </td>*@
                <td>
                    @Html.ActionLink("Book", "Book", new {id = item.FlightId})
                </td>
            </tr>
        }
        </tbody>

    </table>
}
<input type="hidden" id="longitude" value=@Model.Airport[0].AirportLong>
<input type="hidden" id="latitude" value=@Model.Airport[0].AirportLat>

<input type="hidden" id="longitude1" value=@Model.Airport[1].AirportLong>
<input type="hidden" id="latitude1" value=@Model.Airport[1].AirportLat>

@section Scripts {
    @*@Scripts.Render("~/bundles/mapbox ")*@
    <script src="~/Scripts/Location.js" defer></script>
    <script src="~/Scripts/FlightPath.js" defer></script>
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>

}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />
<script src="~/Scripts/DataTable_JavaScript.js"></script>
