@model LetsFly.Models.Airport

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Airport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AirportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirportCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirportCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirportLocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirportLocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirportLong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirportLong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirportLat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirportLat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AirportId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
